{blog3r, [
    %% Variables that are defined in all templates
    {vars, [
        {url, [{base, "https://example.org/"},
               {img, "https://example.org/static/img/"},
               {js, "https://example.org/static/js/"},
               {css, "https://example.org/static/css/"},
               {erl, "https://example.org/static/erl/"}]}
    ]},

    {sections, #{
      %% List of all the posts by date, title, and name of the post template
      %% (entries sorted by newest to oldest)
      %%       <source>  <output subdirectory>
      main => {"posts/", "/", [
          %% Datetime in RFC 2822 format,  Title of the post,  Source file
          {"Tue, 20 Oct 2020 10:00:00 EDT", "Markdown Test", "markdown.tpl"},
          {"Wed, 14 Jul 2010 00:00:00 EST", "Second article", "second.tpl"},
          {"Tue, 13 Jul 2010 00:00:00 EDT", "Hello, World", "hello.tpl"}
      ]}
    }},

    %% Define an index of all blog post entries
    {index, #{
        %% Name of the index file itself
        template => "index.tpl",
        section => main,
        out => "index.html"
    }},

    %% How to generate the RSS Feed. A template should have it
    %% already set in the project structure.
    {index, #{
        template => "rss.tpl",
        section => main,
        out => "feed.rss"
    }}
]}.

%% Additional hooks if you want things to work in a standard way
{pre_hooks, [
    {compile, "mkdir -p compiled/static"}
]}.
{post_hooks, [
    {compile, "cp -r static/* compiled/static/"}
]}.

